{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>Description</h3>


<p>
    With the CSAI project, both research and industry are aiming to use available AI-technologies and advance them for the purpose of Cyber Security.
    Four research partners and four industry partners are aiming to make solid contributions in advancing the state of the art, their market positioning and building unique
    differentiators otherwise difficult to achieve without this project. Results can be implemented by the CSAI-technology companies for further use of their technology and
    services offering. The technology companies will investigate the use of the AI technologies, models and tools into their own platforms, detecting and identifying ways to
    improve their current capabilities.This research project will have a strong impact on both the research institutions and the industrial partners, by increasing their knowledge
    base on AI for CS, and by building security tools that go beyond the state of the art, providing a significant competitive advantage, and leveraging innovative services in
    specific CS domains.

</p>
<h4>Consortium</h4>


<h5>Industrial Partners:</h5>
<ul>
    <li>SpotIt</li>
    <li>AXSGuard</li>
    <li>Co-Dex.eu</li>
</ul>

<h5>Research Partners:</h5>
<ul>    
    <li>KU Leuven COSIC</li>
    <li>KU Leuven Distrinet</li>
    <li>VUB AI-labs</li>
    <li>LSEC - Leaders in Security</li>

</ul>


        {% endblock %}
