{% extends "layout.html" %}

{% block content %}

<div class="container py-4">

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Malware Detector</h1>
            <p class="col-md-8 fs-4">CSAI Malware Detector.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('upload') }}">Lets use &raquo;</a></p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Static Feature Extractor</h2>
                <p>Static feature extraction from Portable Executable (PE) files involves analyzing the file's structure and contents without executing it.</p>
                <p><a class="btn btn-info" href="{{ url_for('extractor') }}">Lets use &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>About COSIC</h2>
                <p>Cosic Malware detector focusing to detect modern evasive malware and increase malware detection performance.</p>
                <p><a class="btn btn-info" href="https://www.esat.kuleuven.be/cosic/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
        &copy; 2023
    </footer>



</div>
{% endblock %}